
.card {
  display: flex;
  place-items: center;
  place-content: center;
  gap: 1em;
  border: #646464 solid 1px;
}
.card:nth-child(2) {
  background-color: #989898;
}
.card:nth-child(3) {
  background-color: #b89a9a;
}
.card:nth-child(4) {
  background-color: #a9c6d6;
}

h1 {
  font-size: 3.2em;
}


button {
  border-radius: 8px;
  border: 1px solid #121212;
  padding: 0.6em 1.2em;
  margin-left: 10px;
  font-size: 1em;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
  box-shadow: #121212 0px 3px 20px 0px;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:active {
  background-color: #fffaaf;
  box-shadow: #121212 0px 3px 20px 0px;
}